/* .chart-bar{
    height: 150px;
    width: 30px;
    border-radius: 20px;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: end;
    overflow: hidden;
} */

/* .back-chart{
    background-color: blue;
    width: 100%;
} */